<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<title>Lista de Tasas</title>
</head>

<body>

	<div th:if="${error}" class="alert alert-danger">
		<p th:text="${error}"></p>
	</div>

	<form th:action="@{/tasas/editar}" th:object="${tasa}" method="post">
		<div class="row mt-4">
			<div class="col-md-6 offset-md-3">
				<input type="hidden" th:field="${tasa.id}" />
				<!-- Iva -->
				<div class="form-group">
					<label for="iva">Iva:</label>
					<input type="text" class="form-control" id="iva" th:field="*{iva}">
				</div>
				<!-- Tasa Nacional -->
				<div class="form-group">
					<label for="tasaNacional">Tasa Nacional:</label>
					<input type="text" class="form-control" id="tasaNacional" th:field="*{tasaNacional}">
				</div>
				<!-- Tasa Internacional -->
				<div class="form-group">
					<label for="tasaInternacional">Tasa Internacional:</label>
					<input type="text" class="form-control" id="tasaInternacional" th:field="*{tasaInternacional}">
				</div>
				<!-- Cotización del Dólar -->
				<div class="form-group">
					<label for="cotizacionDolar">Cotización del Dólar:</label>
					<input type="text" class="form-control" id="cotizacionDolar" th:field="*{cotizacionDolar}">
				</div>

				<button type="submit" class="btn btn-primary btn-block">Enviar formulario</button>
				
				<a class="btn btn-secondary btn-block mt-2" th:href="@{/}">Volver al índice</a>
			</div>
		</div>
	</form>


	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>